{% extends "base.html" %}

{% block title %}Paths | {% endblock title %}

{% block jumbotron %}
    Paths
    <small>See the profiles below and choose the best learning path for you.</small>
{% endblock jumbotron %}

{% block content %}

<!-- CHOOSE YOUR PATH -->
<div class="row">
    <div class="col-sm-12">

    <!--
    <div class="page-header page-header-with-icon no-mg-t">
      <i class="fa fa-leaf"></i>
      <h2>
        Choose your path
      </h2>
    </div>
    -->

    <!-- ROW -->
        <div class="row panels">

          <div class="col-sm-4 panel-item">
            <a class="panel panel-circle-contrast" href="#">
              <div class="panel-icon">
                <i class="fa fa-code icon"></i>
              </div>
              <div class="panel-body text-center">
                <h3 class="panel-title">Programmer</h3>
                <p>You already have programming skills and are looking to get better in biology.</p>
              </div>
            </a>
          </div>

          <div class="col-sm-4 panel-item">
            <a class="panel panel-circle-contrast" href="#">
              <div class="panel-icon">
                <i class="fa fa-leaf icon"></i>
              </div>
              <div class="panel-body text-center">
                <h3 class="panel-title">Biologist</h3>
                <p>You have more than basic knowledge of biology or similar field.</p>
              </div>
            </a>
          </div>

          <div class="col-sm-4 panel-item">
            <a class="panel panel-circle-contrast" href="#">
              <div class="panel-icon">
                <i class="fa fa-child icon"></i>
              </div>
              <div class="panel-body text-center">
                <h3 class="panel-title">Rookie</h3>
                <p>You're looking for a basic knowledge in both biology and programming.</p>
              </div>
            </a>
          </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="page-header page-header-with-icon">
                    <i class="fa fa-th"></i>
                    <h2>
                    STEP 1: Biology basics
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs" id="tab1">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1-content-1">Khan Academy</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab1-content-2">CrashCourse</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab1-content-3">Book</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="tab1-content">
                        <div class="tab-pane fade in active" id="tab1-content-1">
                            <h3>Recommended: Khan Academy Biology Course</h3>
                            <p><a href="https://www.khanacademy.org/science/biology">Go to KhanAcademy Biology Website</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>
                        <div class="tab-pane fade" id="tab1-content-2">
                            <h3>Alternative: CrashCourse Biology</h3>
                            <p><a href="https://www.youtube.com/playlist?list=PL3EED4C1D684D3ADF">Go to CrashCourse Biology Playlist on YouTube</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>
                        <div class="tab-pane fade" id="tab1-content-3">
                            <h3>Alternative: Molecular & Cell Biology for Dummies</h3>
                            <p><a href="http://www.dummies.com/store/product/Molecular-and-Cell-Biology-For-Dummies.productCd-0470430664.html">Go to book website</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}