{% extends "paths/paths_base.html" %}

{% block title %}Programmer Path | {% endblock title %}

{% block css_theme %}
    <link href="/assets/stylesheets/jednotka_mint.css" media="all" id="colors" rel="stylesheet" type="text/css" />
{% endblock css_theme %}

{% block content %}

<!-- CHOOSE YOUR PATH -->
<div class="row">
    <div class="col-sm-12">

    <!--
    <div class="page-header page-header-with-icon no-mg-t">
      <i class="fa fa-leaf"></i>
      <h2>
        Choose your path
      </h2>
    </div>
    -->

    <!-- ROW -->
        <div class="row panels">

          <div class="col-sm-4 panel-item">
            <a class="panel panel-circle-contrast" href="/paths/programmer">
              <div class="panel-icon">
                <i class="fa fa-code icon"></i>
              </div>
              <div class="panel-body text-center">
                <h3 class="panel-title">Programmer</h3>
                <p>You already have programming skills and are looking to get better in biology.</p>
              </div>
            </a>
          </div>

          <div class="col-sm-4 panel-item">
            <a class="panel panel-circle-contrast inactive" href="/paths/biologist">
              <div class="panel-icon">
                <i class="fa fa-leaf icon"></i>
              </div>
              <div class="panel-body text-center">
                <h3 class="panel-title">Biologist</h3>
                <p>You have more than basic knowledge of biology or similar field.</p>
              </div>
            </a>
          </div>

          <div class="col-sm-4 panel-item">
            <a class="panel panel-circle-contrast inactive" href="/paths/rookie">
              <div class="panel-icon">
                <i class="fa fa-child icon"></i>
              </div>
              <div class="panel-body text-center">
                <h3 class="panel-title">Rookie</h3>
                <p>You're looking for a basic knowledge in both biology and programming.</p>
              </div>
            </a>
          </div>

        </div>

        <!-- STEP 1 -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header page-header-with-icon">
                    <i class="fa fa-leaf"></i>
                    <h2>
                    STEP 1: Biology basics
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs" id="tab1">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1-content-1">Khan Academy</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab1-content-2">CrashCourse</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab1-content-3">Book</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="tab1-content">
                        <div class="tab-pane fade in active" id="tab1-content-1">
                            <h3>Recommended: Khan Academy Biology Course</h3>
                            <p><a href="https://www.khanacademy.org/science/biology">Go to KhanAcademy Biology Website</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>
                        <div class="tab-pane fade" id="tab1-content-2">
                            <h3>Alternative: CrashCourse Biology</h3>
                            <p><a href="https://www.youtube.com/playlist?list=PL3EED4C1D684D3ADF">Go to CrashCourse Biology Playlist on YouTube</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>
                        <div class="tab-pane fade" id="tab1-content-3">
                            <h3>Alternative: Molecular & Cell Biology for Dummies</h3>
                            <p><a href="http://www.dummies.com/store/product/Molecular-and-Cell-Biology-For-Dummies.productCd-0470430664.html">Go to book website</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- STEP 2 -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header page-header-with-icon">
                    <i class="fa fa-code"></i>
                    <h2>
                    STEP 2: Bio programming basics
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs" id="tab2">
                        <li class="active">
                            <a data-toggle="tab" href="#tab2-content-1">Computing for Biologists</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab2-content-2">BioInfo programming</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab2-content-3">Python for Biologists</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="tab2-content">
                        <div class="tab-pane fade in active" id="tab2-content-1">
                            <h3>Recommended: Computing for Biologists</h3>
                            <p><a href="http://www.amazon.co.uk/Computing-Biologists-Python-Programming-Principles/dp/1107642183/">Go to Computing for Biologists website</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>
                        <div class="tab-pane fade" id="tab2-content-2">
                            <h3>Alternative: BioInformatics programming using Python</h3>
                            <p><a href="http://www.amazon.co.uk/Bioinformatics-Programming-Using-Python-Mitchell/dp/059615450X/">Go to BioInformatics programming using Python</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>
                        <div class="tab-pane fade" id="tab2-content-3">
                            <h3>Alternative: Python for Biologists</h3>
                            <p><a href="http://pythonforbiologists.com/">Go to Python for Biologists website</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- STEP 3 -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header page-header-with-icon">
                    <i class="fa fa-rocket"></i>
                    <h2>
                    STEP 3: Challenges
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs" id="tab3">
                        <li class="active">
                            <a data-toggle="tab" href="#tab3-content-1">Rosalind</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="tab3-content">

                        <div class="tab-pane fade in active" id="tab3-content-1">
                            <h3>Recommended: Rosalind challenges</h3>
                            <p><a href="http://rosalind.info/problems/list-view/">Go to Rosalind Website</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- STEP 4 -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header page-header-with-icon">
                    <i class="fa fa-book"></i>
                    <h2>
                    Side reads
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs" id="tab4">
                        <li class="active">
                            <a data-toggle="tab" href="#tab4-content-1">Genetics 101</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab4-content-2">Genetic Hacking</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab4-content-3">Google Genomics</a>
                        </li>

                    </ul>

                    <div class="tab-content" id="tab4-content">

                        <div class="tab-pane fade in active" id="tab4-content-1">
                            <h3>Genetics 101</h3>
                            <p><a href="https://www.youtube.com/playlist?list=PLF9969C74FAAD2BF9">Go to Genetics 101 playlist on YouTube</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>

                        <div class="tab-pane fade" id="tab4-content-2">
                            <h3>Genetic Hacking: Your DNA Can Be Hacked!</h3>
                            <p><a href="http://www.amazon.co.uk/Genetic-Hacking-Your-DNA-Hacked-ebook/dp/B00C7NLIV8/">Genetic Hacking book on Amazon</a></p>
                            <p class="no-mg-b">
                                Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>

                        <div class="tab-pane fade" id="tab4-content-3">
                            <h3>Coming soon: Google Genomics Tutorials</h3>
                            <p><a href="https://cloud.google.com/genomics/">Go to Google Genomics Website</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!--
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header page-header-with-icon">
                    <i class="fa fa-google"></i>
                    <h2>
                    STEP 4: Google Genomics
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs" id="tab4">
                        <li class="active">
                            <a data-toggle="tab" href="#tab4-content-1">Coming soon</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="tab4-content">

                        <div class="tab-pane fade in active" id="tab4-content-1">
                            <h3>Coming soon: Google Genomics Tutorials</h3>
                            <p><a href="https://cloud.google.com/genomics/">Go to Google Genomics Website</a></p>
                            <p class="no-mg-b">Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes
                                euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim
                                te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.  Id
                                postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare
                                inciderint vituperatoribus.</p>
                        </div>

                    </div>

                </div>
            </div>
        </div> -->

    </div>
</div>

{% endblock content %}